test/VfpVsixTest/Connected Services/VfpService/VfpService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VfpProj" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VfpProj" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9001/VfpService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="CsObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="CmdForm" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="hWnd" type="q1:IntPtr" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CsObj" nillable="true" type="tns:CsObj" />
  <xs:complexType name="CsForm">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="LastError" nillable="true" type="q2:Exception" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CsForm" nillable="true" type="tns:CsForm" />
</xs:schema>