src/VS15/Connected Services/VfpServiceRef/VfpService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VfpProj.Wcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VfpProj.Wcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9001/VfpService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:complexType name="VfpService">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActiveProject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Directory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HWnd" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusBar" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="VFP" nillable="true" type="q1:ArrayOfKeyValuePairOfstringanyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VfpService" nillable="true" type="tns:VfpService" />
</xs:schema>